;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 []

 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"

        :modules
        {:main
         {:entries [app.main]}}

        :devtools
        {:before-load app.main/stop
         :after-load app.main/start
         :http-root "public"
         :http-port 8020}
        }}}
